@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #111;
  min-height: 100vh;
}

.error {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 250px;
  padding: 5px 10px;
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
}
